global:
  resolve_timeout: 5m

route:
  receiver: "default"
  group_by: ["alertname", "service", "component"]
  group_wait: 10s
  group_interval: 1m
  repeat_interval: 30m

receivers:
  - name: "default"
